{#
/**
 * @file revisionable.html.twig
 * Default theme implementation to present Revisionable data.
 *
 * This template is used when viewing Revisionable pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_revisionable()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('revisionable') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
